<mat-nav-list>
    <div class="profile-card">
        <img src="https://images.unsplash.com/photo-1554249906-53d1582266b4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="Photo of Earth">
        <div class="header">
            <h2>Gustavo Bautista</h2>
            <p>Welcome to my corovirus dashboard mockup. Feel free to explore the data visualizations. I hope you enjoy it!</p>
        </div>
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Posts</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Articles</a>

    <mat-divider></mat-divider>

    <h2 matSubheader>Interest</h2>

    <a mat-list-item href="http://thegustavobautista.com/" target="_blank">
        <mat-icon>contact_phone</mat-icon>
        Contact Me
    </a>

    <a mat-list-item href="https://documenter.getpostman.com/view/10808728/SzS8rjbc?version=latest#9739c95f-ef1d-489b-97a9-0a6dfe2f74d8" target="_blank">
        <mat-icon>api</mat-icon>
        CORONAVIRUS COVID19 API
    </a>

    <a mat-list-item href="https://documenter.getpostman.com/view/8854915/SzS8rjHv?version=latest#12d55e92-f94e-48ba-b509-045951b1ff91" target="_blank">
        <mat-icon>api</mat-icon>
        THE COVID TRACKING PROJECT
    </a>

    <a mat-list-item href="https://documenter.getpostman.com/view/8854915/SzS7R74n?version=latest#08adba6b-8533-42c2-a30f-bdb00eac5925" target="_blank">
        <mat-icon>api</mat-icon>
        CORONAVIRUS DATA API
    </a>

</mat-nav-list>