<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="article-cards">
    <mat-card class="article-item">
        <img mat-card-image src="https://images.unsplash.com/photo-1571127309553-eacf9f8dd7a5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="handwashing">
        <mat-card-title>We can get through this together</mat-card-title>
        <mat-card-content>I wish good health upon all! Stay safe!</mat-card-content> 
        <mat-card-actions>06/08/2020</mat-card-actions>           
    </mat-card>
</div>
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="article-cards">
    <mat-card class="article-item">
        <img mat-card-image src="https://images.unsplash.com/photo-1531419859879-934d18f6c42d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="handwashing">
        <mat-card-title>Message to All</mat-card-title>
        <mat-card-content>I hope everyone is taking preventative measures. Stay safe and remember to wash your hands!</mat-card-content>    
        <mat-card-actions>06/03/2020</mat-card-actions>    
    </mat-card>
</div>
