.stats-cards {
    .mat-card {
      overflow: hidden;
    }
  }
  
  table {
    width: 100%;
  }
  
  .table-container {
    margin-bottom: 32px;
  }

  .table-title {
    text-align: center;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
  }

  h2 {
    padding-top: 24px;
  }