<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="article-cards row-1">
    <mat-card class="article-item">
        <a href="https://www.medicalnewstoday.com/articles/256521" target="_blank">
            <img mat-card-image src="https://images.unsplash.com/photo-1584265549884-cb8ea486a613?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="handwashing">
            <mat-card-title>What to know about coronaviruses</mat-card-title>
            <mat-card-content>Coronaviruses typically affect the respiratory tracts of birds and mammals, including humans...</mat-card-content>
            <mat-card-actions>
                <a mat-stroked-button href="https://www.medicalnewstoday.com/articles/256521" target="_blank">Visit</a>
            </mat-card-actions>            
        </a>
    </mat-card>
</div>
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="article-cards row-2">
    <mat-card class="article-item">
        <a href="https://www.bloomberg.com/news/articles/2020-06-10/second-u-s-virus-wave-emerges-after-state-reopenings" target="_blank">
            <img mat-card-image src="https://images.unsplash.com/photo-1583911300368-34202d644997?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="virus">
            <mat-card-title>Second U.S. Virus Wave Emerges as Cases Top 2 Million</mat-card-title>
            <mat-card-content>A second wave of coronavirus cases is emerging in the U.S., raising alarms as new infections push the overall count past 2 million Americans...</mat-card-content>
            <mat-card-actions>
                <a mat-stroked-button href="https://www.bloomberg.com/news/articles/2020-06-10/second-u-s-virus-wave-emerges-after-state-reopenings" target="_blank">Visit</a>
            </mat-card-actions>         
        </a>
    </mat-card>
    <mat-card class="article-item">
        <a href="https://www.wsj.com/articles/coronavirus-vaccine-candidates-pivotal-u-s-testing-to-start-this-summer-11591781405" target="_blank">
            <img mat-card-image src="https://images.unsplash.com/photo-1584724108890-fc1641bc6b39?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="handwashing">
            <mat-card-title>Coronavirus Vaccine Candidates’ Pivotal U.S. Testing to Start This Summer</mat-card-title>
            <mat-card-content>The federal government plans to fund and conduct the decisive studies of three experimental coronavirus vaccines starting this summer...</mat-card-content>
            <mat-card-actions>
                <a mat-stroked-button href="https://www.wsj.com/articles/coronavirus-vaccine-candidates-pivotal-u-s-testing-to-start-this-summer-11591781405" target="_blank">Visit</a>
            </mat-card-actions> 
        </a>
    </mat-card>
</div>
<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="article-cards row-3">
    <mat-card class="article-item">
        <a href="https://www.weforum.org/agenda/2020/04/coronavirus-education-global-covid19-online-digital-learning/" target="_blank">
            <img mat-card-image src="https://images.unsplash.com/photo-1584573062942-d46bb3aee3fd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80" alt="handwashing">
            <mat-card-title>The COVID-19 pandemic has changed education forever. This is how </mat-card-title>
            <mat-card-content>While countries are at different points in their COVID-19 infection rates, worldwide there are currently more than 1.2 billion children in 186...</mat-card-content>
            <mat-card-actions>
                <a mat-stroked-button href="https://www.weforum.org/agenda/2020/04/coronavirus-education-global-covid19-online-digital-learning/" target="_blank">Visit</a>
            </mat-card-actions>   
        </a>
    </mat-card>
    <mat-card class="article-item">
        <a href="https://www.wsj.com/articles/coronavirus-patients-lose-senses-of-taste-smelland-havent-gotten-them-back-11591007522" target="_blank">
            <img mat-card-image src="https://images.unsplash.com/photo-1585559604908-0cb329093f50?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="masked woman checking phone">
            <mat-card-title>Coronavirus Patients Lose Senses of Taste, Smell—and Haven’t Gotten Them Back</mat-card-title>
            <mat-card-content>Matt Newey was overcome with emotion clearing his deceased grandmother’s home in late April: He reached for her perfume, but he couldn’t smell...</mat-card-content>
            <mat-card-actions>
                <a mat-stroked-button href="https://www.wsj.com/articles/coronavirus-patients-lose-senses-of-taste-smelland-havent-gotten-them-back-11591007522" target="_blank">Visit</a>
            </mat-card-actions>   
        </a>
    </mat-card>
    <mat-card class="article-item">
        <a href="https://www.wsj.com/articles/coronavirus-latest-news-06-09-2020-11591689713" target="_blank">
            <img mat-card-image src="https://images.unsplash.com/photo-1586362102368-7a82b8d2a28e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="virus">
            <mat-card-title>While Coronavirus Case Rate Slows in Some Areas, Others Accelerate</mat-card-title>
            <mat-card-content>The U.S. coronavirus death toll passed 111,000, while reported cases topped 1.9 million, according to data compiled by Johns Hopkins University...</mat-card-content>
            <mat-card-actions>
                <a mat-stroked-button href="https://www.wsj.com/articles/coronavirus-latest-news-06-09-2020-11591689713" target="_blank">Visit</a>
            </mat-card-actions>   
        </a>
    </mat-card>
</div>